name: release
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install dotnet-releaser
        run: dotnet tool install -g dotnet-releaser

      - name: Run dotnet-releaser
        run: dotnet-releaser run --token ${{ secrets.GITHUB_TOKEN }} dotnet-releaser.toml
